﻿@page
@model CreateModel
@{
}

<br>
<h2> New Individ Contractor</h2>
@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="CLose"></button>
    </div>
}

<form method="POST">
    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.individContractor.name">
        </div>
    </div>
    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label">Surname</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="surname" value="@Model.individContractor.surname">
        </div>
    </div>
    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label">Patronymic</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="patronymic" value="@Model.individContractor.patronymic">
        </div>
    </div>
    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label">Biin</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="biin" value="@Model.individContractor.biin">
        </div>
    </div>
    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class=" col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
            <div>
                <div class="col-sm-3 d-grid">
                    <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
           </div>
           </div>
            
        </div>
        </div>
    
</form>