﻿@page
@model WebApplicationContractor.Pages.Contractors.IndexModel
@{
}

<br>
<h2> List of IndividContractors<</h2>




<a class="btn btn-primary btn-sm" asp-area=""asp-page="/Contractors/Create">New IndividContractors</a>


<table class=" table ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Patronymic</th>
            <th>Biin</th>
        </tr>
    </thead>
    <tbody>
       @foreach(var item in Model.individContractors) 
       {
        <tr>
            <td>@item.id</td>
            <td>@item.name</td>
            <td>@item.surname</td>
            <td>@item.patronymic</td>
            <td>@item.biin</td>
            <td>
                 <a class='btn btn-primary btn-sm' href="Contractors/Edit?id=@item.id">Edit</a>
                <a class='btn btn-primary btn-sm' href="Contractors/Delete?id=@item.id" >Delete</a>
                    

            </td>
        </tr>

       }
    </tbody>

</table>